@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home-con">

    <div class="text-con">
        <h1>Welcome</h1>
        <p>This is a sub paragraph</p>
        <a href="#">Shop now</a>
    </div>
    <div class="image-con">
        <img id="gif" src="images/ilustration.gif" />
    </div>

</div>

